<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/f408a441a0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 md-4 mb-3 bg-light border-bottom shadow-sm">
      <a href="/" class="head link my-0 mr-md-auto font-weight-normal">The Books <i class="fas fa-book"></i></a>
      <div class="login">
        <% if(typeof user !== 'undefined') { %>
        <a class="btn btn-outline-secondary" href="/logout">ログアウト</a>
        <% } else { %>
        <a class="btn btn-outline-secondary" href="/register">新規登録</a>
        <a class="ml-3 btn btn-outline-primary" href="/login">ログイン</a>
        <% } %>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-5">
          <a href="" class="row user-name ml-1 mr-1 mt-3 link">
            <div class="p-2">
              <img class="user-image" src="https://res.cloudinary.com/dtmue1o4b/image/upload/v1605691025/qkormwwrjv8anyrwzy1b.jpg">
            </div>
            <div class="col p-0 user-info">
              <div class="user">
                <p>
                  <% if(typeof user !== 'undefined') { %> 
                  <%= user.user_name %>　さん
                  <% } else { %>
                  Guest　さん
                  <% } %>
                </p>
              </div>
              <div class="number">
                <p>投稿数：<% if(typeof number !== 'undefined') { %><%= number %><% } %></p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="row content-container mt-3 mb-3">
            <div class="imp-form">
              <h1><%= contents.title %></h1>
              <ul>
                <li>
                  <div>
                    <p>本のタイトル:<%= contents.book.book_name %></p>
                  </div>
                </li>
                <li>
                  <div>
                    <p>著者：<%= contents.book.author %></p>
                  </div>
                </li>
                <li>
                  <div class="image-container">
                    <img class="book-img" src="<%= contents.book.book_path %>">
                  </div>
                </li>
                <li>
                  <div>
                    <p>ジャンル：<%= contents.genre %></p>
                  </div>
                </li>
                <li>
                  <div>
                    <p>感想：</p>
                    <div><p class="impression-text"><%= contents.impression %></p></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <p class="text-muted text-center"><a href="https://github.com/ayu1028/book-application">Ayumi Yamamori</a> all rights reserved</p>
  </footer>
  </body>
</html>