<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title>Your Bookshelf</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="https://kit.fontawesome.com/f408a441a0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <header class="header-container">
        <div class="head-content title-container">
          <a href="/">
            The Books
            <i class="fas fa-book" aria-hidden="true"></i>
          </a>
        </div>
        <div class="head-content register-container">
          <% if(typeof user !== 'undefined') { %>
            <a href="/logout" class="btn">ログアウト</a><!--ログイン後に表示する-->
          <% } else { %>
            <a href="/register" class="btn">新規登録</a><!--未ログイン時に表示する-->
            <a href="/login" class="btn">ログイン</a>
          <% } %> 
        </div>
      </header>
      <div class="contents">
        <div class="main-container">
          <div class="side-container">
            <p>Welcome!</p>
            <% if(typeof user !== 'undefined') { %>
              <!--ログイン後に表示する-->
              <a href="/users/<%= user.id %>" class="white-background user-info-box">
                <div class="image-box">
                  <img class="user-image" src="https://res.cloudinary.com/dtmue1o4b/image/upload/v1605691025/qkormwwrjv8anyrwzy1b.jpg">
                </div>
                <div class="info">
                  <div class="info-name">
                    <span><%= user.user_name %> さん</span>
                  </div>
                  <div class="info-numbers">
                    <span>投稿数：<%= totalNumber %> </span>
                  </div>
                </div>
              </a>
              <div class="white-background bookshelf"><!--ログイン後に表示する-->
                <p>Your Books</p>
                  <ul>
                    <li><a href="#" class="btn genre-btn">すべて：<%= totalNumber %> </a></li>
                    <% for(let i in number) { %> 
                    <li><a href="#" class="btn genre-btn"><%= number[i].genre %> ： <%= number[i].dataValues.n_genre %></a></li>
                    <% } %>
                  </ul>
              </div>
              <a href="/post" class="btn post">投稿する</a>
            <% } else { %>
              <!--未ログイン時に表示する-->
              <div class="white-background user-info-box">
                <div class="image-box">
                  <img class="user-image" src="https://res.cloudinary.com/dtmue1o4b/image/upload/v1605691025/qkormwwrjv8anyrwzy1b.jpg">
                </div>
                <div class="info">
                  <div class="info-name">
                    <span>未ログイン</span>
                  </div>
                  <div class="info-numbers">
                    <span>投稿数：0</span>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
          <div class="contents-container">
            <h2>読んだ本：すべて</h2>
            <div class="bookshelf-large">
              <% for(let i in contents) { %>
                <a href="/update/<%= contents[i].id %>" class="image-box-large white-background">
                  <p><%= contents[i].book.book_name %></p>
                  <img class="book-image-large" src="<%= contents[i].book.book_path %>">
                </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <p>
          <a href="#">Ayumi Yamamori</a> all rights reserved
        </p>
      </footer>
    </div>
  </body>
</html>